// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$title-size: 20px;
$title-color: #FFAE00;
$title-size--mod: 25px;
$title-color--mod: #FF5100;
$footer-background-color: #f5f5f5;
$footer-height: 60px;

.card{
  height: 15rem;
}

.title{
  font-size: $title-size;
  color: $title-color;
}

.title:hover {
  font-size: $title-size--mod;
  color: $title-color--mod;
}

#footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  height: $footer-height;
  background-color: $footer-background-color;
  .footer-block {
    margin: $title-size 0;
  }
}
